<a href="https://colab.research.google.com/github/MidhileshDusanapudi/Assignment1/blob/main/Assignment1_Midhilesh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1).
import statistics 

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#1.
ages.sort() #sort() used for sorting all the ages in above string
print("Sorting ages", ages)
print("Max value", max(ages)) # max() used to find the maximum value
print("Minimum Value", min(ages)) # min() used to find the minimum value
#2.
ages.append(min(ages))
ages.append(max(ages)) # append() is used to add the values to the above list
print(" After appending minimum and maximum", ages)

#3
print(" Median of ages is : % s "
        % (statistics.median(ages))) # Median() is used to find the median value of he ages list
#4
sum=0
for i in range(len(ages)):
    sum=sum+ages[i] # Using For loop to fing the sum of all the values in the list 
print(" Average: ", sum/len(ages)) # Finding the average using the sum and length of the list
#5
print(" Range of ages is : ", max(ages)-min(ages))

Sorting ages [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Max value 26
Minimum Value 19
 After appending minimum and maximum [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
 Median of ages is : 24.0
 Average:  22.75
 Range of ages is :  7

In [23]:
#2).
dog = {} #creating an empty dict called dog
dog = {"name":"", "color":"", "breed":"", "legs":"", "age":""}
print(dog)
student = { "first_name": 'Midhilesh', "last_name": 'D' , "gender": 'M', "age": '25', "marital status": 'Single', 
           "skills":['Python','C','Javaprogramming'], "country":'India', "city": 'Vijayawada',  "address":' 123rd st 520003 '} #creating a dict called student and assigning values like name gender etc.
print(student)
print("Length of the student dictionary", len(student)) #length of the student dict
print(student.get('skills'))
student['skills'].append("c++") #adding a value to skills
student['skills'].append("devops")
print("Dictionary Keys = ", student.keys())
print("Dictionary Values = ", student.values())

{'name': '', 'color': '', 'breed': '', 'legs': '', 'age': ''}
{'first_name': 'Midhilesh', 'last_name': 'D', 'gender': 'M', 'age': '25', 'marital status': 'Single', 'skills': ['Python', 'C', 'Javaprogramming'], 'country': 'India', 'city': 'Vijayawada', 'address': ' 123rd st 520003 '}
Length of the student dictionary 9
['Python', 'C', 'Javaprogramming']
Dictionary Keys =  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Dictionary Values =  dict_values(['Midhilesh', 'D', 'M', '25', 'Single', ['Python', 'C', 'Javaprogramming', 'c++', 'devops'], 'India', 'Vijayawada', ' 123rd st 520003 '])

In [4]:
#3).
#create a tuple and assigning values 
brothers = ("Kartheek","SatyaLohith")
sisters = ("Swetha","Susmitha")
siblings = brothers+sisters #using + operator we can join two tuples
l =  len(siblings)
siblings1 = siblings + ("Dnmrao","Vijayalakshmi") #using + added new values to the tuple
family_members = siblings1 #after adding new names to siblings i assigned it to family_members 
print("Brothers = ", brothers)
print("Sisters = ", sisters)
print("I have", l, "siblings")
print("Siblings = ", siblings)
print("Family Members = ", family_members) #displaying the all family members list

Brothers =  ('Kartheek', 'SatyaLohith')
Sisters =  ('Swetha', 'Susmitha')
I have 4 siblings
Siblings =  ('Kartheek', 'SatyaLohith', 'Swetha', 'Susmitha')
Family Members =  ('Kartheek', 'SatyaLohith', 'Swetha', 'Susmitha', 'Dnmrao', 'Vijayalakshmi')

In [24]:
#4).
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#1
m = len(it_companies) #length of the it companies
print("1. Length of the set of IT companies = ", m)

#2
it_companies.add('Twitter') #adding a new company to it companies
print("2. List of companies after adding twitter = ", it_companies)

#3.
new_companies = ['Hp','Dell','Adobe']
it_companies.update(new_companies) #update() function is used for updating companies after adding new companies
print("3. Upating companies list = ", new_companies)

#4.
it_companies.remove('Apple') #remove() returns removing a value from the it companies
print("4. IT companies after removing apple = ", it_companies)

#5.
print("5. remove() method will raise an error if the specified item does not exist, and the discard() method will not")
#6.

o=A.union(B) # union() returns joins tw sets A and B
print ("6. Join A and B = ", o)

#7.
p=A.intersection(B) #intersection() returns the common data from A and B
print("7. A intersection B = ", p)

#8
print("8. Is A is Sub set of B ? ",A.issubset(B)) #issubset() give value weather b is subset of a or not

#9.
print("9. Are A and B are disjoint Sets ? ",A.isdisjoint(B)) #isdisjoint() return boolean value weather b is disjoint sets or not 

#10.
joined_1 = A.union(B) #joining A with B
joined_2 = B.union(A) #joining B with A
print("10(a). Join A with B = ", joined_1)
print("10(b). Join B with A = ",joined_2)

#11.
sym_diff = A.symmetric_difference(B) 
print("11. Symmetric difference between A and B =", sym_diff)

#12.
del A
del B


#13.
Age_Set = set(age)  # type conversion from list to set
print("13(a). Coverting Ages to Set", Age_Set)
print("13(b). Difference between length of age list and length of age set is ",len(age)-len(Age_Set))

1. Length of the set of IT companies =  7
2. List of companies after adding twitter =  {'Facebook', 'Amazon', 'Google', 'Microsoft', 'Oracle', 'Twitter', 'Apple', 'IBM'}
3. Upating companies list =  ['Hp', 'Dell', 'Adobe']
4. IT companies after removing apple =  {'Facebook', 'Hp', 'Amazon', 'Google', 'Microsoft', 'Adobe', 'Dell', 'Oracle', 'Twitter', 'IBM'}
5. remove() method will raise an error if the specified item does not exist, and the discard() method will not
6. Join A and B =  {19, 20, 22, 24, 25, 26, 27, 28}
7. A intersection B =  {19, 20, 22, 24, 25, 26}
8. Is A is Sub set of B ?  True
9. Are A and B are disjoint Sets ?  False
10(a). Join A with B =  {19, 20, 22, 24, 25, 26, 27, 28}
10(b). Join B with A =  {19, 20, 22, 24, 25, 26, 27, 28}
11. Symmetric difference between A and B = {27, 28}
13(a). Coverting Ages to Set {19, 22, 24, 25, 26}
13(b). Difference between length of age list and length of age set is  3

In [6]:
#5).

radius1 = 30 #Given radius
 
_area_of_circle = 3.141 * radius1 * radius1 #calc the are of circle
print("Area :",_area_of_circle)

_circum_of_circle = 2 * 3.141 * radius1 #calc the Circumference of a circle
print("Circumference :",_circum_of_circle)

radius2 = int(input("Enter the radius value: ")) #input() means entering input in console.
Area = 3.141 * radius2 * radius2

print("Area :",Area) #displaying output of area for the radius value

Area : 2826.9
Circumference : 188.46
Enter the radius value: 5
Area : 78.525

In [19]:
#6).
string = 'I am a teacher and I love to inspire and teach people'  #given string
uniq_wrd = set(string.split()) #Splits a string into a list where each word is a list item
print(" Unique words in given string are", uniq_wrd)
print(" No.of unique words in given string are ",len(uniq_wrd)) #displaying uniq words and length of uniq words

 Unique words in given string are {'am', 'I', 'inspire', 'teach', 'to', 'love', 'a', 'teacher', 'and', 'people'}
 No.of unique words in given string are  10

In [20]:
#7).
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [21]:
#8).
radius = 10
area = int(3.14 * radius ** 2)
formatted_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area)  # Formatting String
print(formatted_area)

The area of circle with radius 10 is 314 meters square.

In [28]:
#9).
# taking input in the console
N = int(input('Enter no of students:'))

# creating two lists one for lbs and other for kgs
lbs = []
kgs =[]
for i in range (0,N,1) :
    m =  float(input('Enter the value:'))
    list.append(m)

for i in range (0,N,1):
      n = list[i] * 0.453592
      kgs.append(round(n,2))
print(" Converting weights to kgs", kgs)

Enter no of students:4
Enter the value:55
Enter the value:34
Enter the value:23
Enter the value:23
 Converting weights to kgs [24.95, 11.34, 10.43, 10.43]